@font-face {
	font-family: victorianna-thin;
	src: url(fonts/vtf_victorianna_thin-webfont.woff)
}

@font-face {
	font-family: victorianna-it;
	src: url(fonts/vtf_victorianna_thin_talic-webfont.woff)
}

* {
	color: tomato;
}


.nameshape {
	display: flex;
	width: 50vw;
	height: auto;
	justify-content: center;
	align-content: center;
	align-items: center;

	

	background-color: tomato;
	color: lemonchiffon;

	border-radius: 75px;			
}

#name {
	font-family: victorianna-it;
	font-size: 10vw;
	color: lemonchiffon;
	text-align: center;
	
}

.desc {
	text-align: center;
}

.top {
	display: flex;
	justify-content: space-between;
}

.typeface {
font-size: 1.25vw;
}





body {
	background-color:lemonchiffon;
	width: auto;
	height: 100vh;
	/*background-color: #008FBE;*/

	
	font-family: victorianna-it;
	font-weight: 100;
	font-style: normal;
	font-size: 1.5vw;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 2vh;
	line-height: 1.5em;



}

/* .all {
	display: flex;
	align-items: space-around;
	justify-content: space-between;

	width: 80vw;
	margin:auto;
	margin-top: 10vh;
} */

.kaomoji {
	font-family: sans-serif;
	font-style: bold;
	font-weight: 700;
	text-align: center;
}

.desc {

	font-family: victorianna-thin;
	font-style: normal;
	font-size: 2vw;
	width: 50vw;
	color: tomato;
	line-height: 1.5em;
}

#all {
	display: flex;
	justify-content: space-evenly;
}

h3 {
	display: block;
	justify-content: center;
	font-family: victorianna-thin;
	font-size: 2.5vw;
	width: 17vw;
	height: auto;
	text-align: center;

	background-color: tomato;
	color:  lemonchiffon;

	border-radius: 50px;
	border:none;
}


li:hover {
	color: cornflowerblue;
}

a:hover {
	color: cornflowerblue;
	font-family: victorianna-thin;
}

a {
	text-decoration: none;
}

