body {
	background-color: #FFE800;

	font-family: fakir-new, sans-serif;
	font-weight: 700;
	font-style: normal;

}



body {
	
	font-family: fakir-new, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;

	margin-left: 10%

}

h1 {
	font-family: fakir-new, sans-serif;
	font-weight: 700;
	font-style: normal;
	

	text-align: left;
	color: black;
}

}

.content {
	position: absolute;
	width: 70vw;
	height: 40vh;
	border: 3px solid black;

}

p {
	font-size: 20px;

}