@font-face {
	font-family: victorianna-thin;
	src: url(fonts/vtf_victorianna_thin-webfont.woff)
}

@font-face {
	font-family: victorianna-it;
	src: url(fonts/vtf_victorianna_thin_talic-webfont.woff)
}

* {
	color: tomato;
}


.nameshape {
	display: flex;
	width: 30vw;
	height: 10vh;
	justify-content: center;
	align-content: center;
	align-items: center;

	

	background-color: tomato;
	color: #DAE3D9;

	border-radius: 50px;			
}

#name {
	font-family: victorianna-it;
	font-size: 4vw;
	color: #DAE3D9;
	text-align: center;
	
}






body {
	background-color: #DAE3D9;
	width: auto;
	height: 100vh;
	/*background-color: #008FBE;*/

	
	font-family: victorianna-it;
	font-weight: 100;
	font-style: normal;
	font-size: 1.5vw;
	margin-left: 5vw;
	margin-top: 10vh;
	line-height: 2em;



}

.all {
	display: flex;
	align-items: space-around;
	justify-content: space-between;

	width: 80vw;
	margin:auto;
	margin-top: 10vh;
}


.desc {

	
	font-family: victorianna-thin;
	font-style: normal;
	font-size: 2vw;
	color: tomato;
}

h3 {
	font-size: 2vw;
	width: 15vw;
	height: auto;

	text-align: center;

	background-color: tomato;
	color:  #DAE3D9;

	border-radius: 50px;
}


li:hover {
	color: lemonchiffon;
}

a:hover {
	color: lemonchiffon;
	font-family: victorianna-thin;
}

a {
	text-decoration: none;
}