@font-face {
    font-family: GT_Sectra_Bold;
    src: url(GT_Sectra_Bold.otf);
}

@font-face {
    font-family:GeographTest_Regular;
    src: url(GeographTest_Regular.otf)
}

@font-face {
    font-family: DomaineDisplayTest-Regular;
    src: url(DomaineDisplayTest-Regular.otf)
}
/* 
img {
display: flex;
width: 98.19vw;
 height: auto;
 border: 7px solid black;
} */

body {
    background-color: black;
}



.main-title-container {
    display: grid;
    width: 98.19vw;
    height: 100vh;;
    background-color: #ffe800;
    border: 3px solid black;
    text-align: center;
    line-height: 1;
}

#main-title {
    font-family: bely-display, serif;
    font-weight: 400;
    font-style: normal;
    height: auto;
    font-size: 250px;
    text-align: center;
}

#quote {
    font-family: bely-display, serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top: -15vh;
    font-size: 20px;
}

.down {
    font-size: 100px;
    position: relative;
    top: -15vh;

    align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
        animation-name: bounce-1;
        animation-timing-function: linear;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-80px); }
    100% { transform: translateY(0); }
}

.info {
    display: flex;
    width: 98.19vw;
    height: 70vh;;
    background-color: black;
    border: 3px solid black;
    text-align: center;
    line-height: 1;
    align-content: center;
    justify-content: center;
    line-height: 1.25;
}

#explain {
    font-family: bely;
    font-weight: 400;
    font-style: italic;
    font-size: 45px;
}



.basic {
    border: 3px solid black;
    background-color: #ff40b4;
    margin: auto;
    padding: 2%;
    text-align: left;
    font-size: 25px;
    width: 50vw;
    height: 62vh;

    font-family: bely, serif;
    font-weight: 400;
    font-style:italic;
    font-size: 30px;
}

h3 {
    font-family: bely-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}

.name-container {
    border: 3px solid black;
    background-color: black;
    color: white;
    padding: 2%;
    font-size: 25px;
    height: 62vh;
    top: -0.1vh;
    text-align: left;
    margin: auto;
    width: 50vw;
    line-height: 1.75;
}



.showings {
    font-family: bely;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ff40b4
}


a {
    color: #ff40b4;
}




#name1 {
    font-family: bely-display,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

#name1:hover {
    color: white;
}

#name2 {
    font-family: DomaineDisplayTest-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

#name2:hover {
    color:white;
}

#name3 {
    font-family: GeographTest_Regular, sans-serif;
    font-weight: 400;
    font-style; normal;
    font-size: 45px;
}

#name3:hover {
    color:white;
}

#name4 {
    font-family: covik-sans,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 55px;
}

#name4:hover {
    color:white;
}

#name5 {
    font-family: GT_Sectra_Bold;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

#name5:hover {
    color:white;
}

#name6 {
    font-family: blenny, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 55px;

}

#name6:hover {
    color:white;
}


.container {
    display: flex;
    overflow: auto;
    height: 100vh;
    background-color: black;
}

/* .title-sidebar {
    display: grid;
    position: fix;
    padding-left: 0.5%;
    padding-top: 0;
    width: 25%;
    height: auto;
    position: absolute;
    row-gap: 7px;
}

#title {
    margin-block-start: 0;
} */

.item1 {
    font-family: bely-display;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    background-color: #ffe800;
    width: 20vw;
    height: 15vh;
    padding-right: 3%;
    padding-left: 3%;
    display: inline;
    overflow: auto;

}


.item2 {
    font-family: bely-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

    background-color: #ff40b4;  
    overflow:auto;
    width: 20vw;
    height: 70vh;
    padding:3%;
    padding-bottom: 3%;
    flex-wrap: wrap;
    line-height: 1.2;
    display: inline;
}



.active, #about:hover {
    background-color: black;
    color: white;
    
}

#about {
    background-color:#ff40b4;
    color: black;

    font-family: bely-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: left;
}



/* #quote {
    font-family: bely-display;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
} */

.container15 {
    display: flex;
    overflow: auto;
    height: auto;
    background-color: black;
}




.container2 {
    display: flex;
    overflow: auto;
    height: auto;
    background-color: black;
}




.date-grid {
    display: grid;
    /* left: 22vw; */
    right: -0.25vw;
    padding-left: 0.5%;
    padding-top: 0;
    width: 40%;
    height: auto;
    /* overflow: auto; */
    color: black;

    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    row-gap: 7px;
    position: relative;
    
}

.may {
    line-height: 1;
}

.date {
    /* height:35vh;  */
}

.time {
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 0.3;
    padding: 2%;
}


.trailer {
    color: black;
    font-size: 30px;
    padding: 2%;
    border: 3px solid black;
}

.trailer:hover {
    background-color: black;
    color: white;
}

.rsvp {
    border: 3px solid black;
    width: 135px;
    text-align: center;
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}

.rsvp:hover {
    background-color: black;
    color: white;
}

a:link {
    text-decoration: none;
}

#date1 {
    background-color:#F5333F;
    padding-left: 2%;
    height: 68vh;
}

#date1:hover {
    background-image:url(oldbody_final.png)
    
}

#date2 {
    background-color:#00AE8D;
    height: 68vh;
    padding-left: 2%;
}

#date2:hover {
    background-image: url(taleoftwo.png);
}

#date3 {
    background-color:#C19ADE;
    height: 65vh;
    padding-left: 2%;
}

#date3:hover {
    background-image: url(memories_small.png)
}


#date4 {
    background-color:#00AE42;
    height: 62vh;
    padding-left: 2%;
}

#date4:hover {
    background-image: url(taxidriver.png)
}

#date5 {
    background-color:#0082CA;
    height: 57vh;
    padding-left: 2%;
}

#date5:hover {
    background-image: url(odetomyfather.png)
}

#date6 {
    background-color:#F3B2DB;
    height: 68vh;
    padding-left: 2%;
}

#date6:hover {
    background-image: url(sunny.png);
}


.movie-grid {
    display: grid;
    position: relative;
    padding-left: 0.5%;
    padding-top: 0;
    width: 60%;
    height: 20vh;
    color: black;

    row-gap: 7px;

    line-height: 1.5;
    font-size: 20px;
}

/* h2 {
    font-size: 70px;
    margin-top: -1%;
} */

.question {
    background-color: black;
    width: 60vw;
    height: 15vh;
    color: white;
    font-size: 40px;
    padding: 3%;
    position: relative;

    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
}   


.answer {
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    color: gray;
}

.movie {
    padding: 3%;
    /* height: 35vh;   */
    line-height: 1.15;
    display: inline-block;
    position: relative;
    top: -55px
    
}

.director {
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
}

.movie1 {
    background-color: #0082CA;
    height:68vh;
    overflow: auto;
}

#oldboy {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    /* position:relative;
    top: -50px; */
    
}

.movie2 {
    background-color: #5C0F8B;
    height:68vh;
    overflow: auto;
}

#tale {
    font-family: DomaineDisplayTest-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

.movie3 {
    background-color: #F5333F;
    height:65vh;
    overflow:auto;
}

#memories {
    font-family: GeographTest_Regular, sans-serif;
    font-weight: 400;
    font-style; normal;
    font-size: 65px;
}

.movie4 {
    background-color: #FFE800;
    height:62vh;
    overflow:auto;
}

#taxi {
    font-family: covik-sans,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
}

.movie5 {
    background-color: #FF6B00;
    height:57vh;
    overflow:auto;
}

#ode {
    font-family: GT_Sectra_Bold;
    font-weight: 700;
    font-style: normal;
    font-size: 65px;
}
 
.movie6 {
    background-color: #00AE8D;
    height:68vh;
    overflow:auto;
}

#sunny {
    font-family: blenny, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 75px;
}

p {
    font-family: bely, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}


