@font-face {
    font-family: sprat-med;
    src: url(sprat-med.otf)
}

@font-face {
    font-family: compagnon-bold;
    src: url(compagnonbold.woff)
}

@font-face {
    font-family: compagnon-reg;
    src: url(Compagnon-Roman.woff2)
}

h1 {
    font-size: 4em;
    line-height: 1.5em;
    font-family: compagnon-bold;
    width: 40vw;
    text-align: left;
}

body {
    font-family: compagnon-reg;
    width: 40vw;
    height: auto;
    margin: auto;
    line-height: 1.5em;
}

#element2 {
    font-size: 2em;
    line-height: 1.5em;
}


button {
    font-family: compagnon-reg;
    margin: auto;
    background-color: white;
}

button:hover {
    background-color: yellow;
}