@font-face {
    font-family: compagnon-bold;
    src: url(compagnonbold.woff)
}

@font-face {
    font-family: compagnon-med;
    src: url(Compagnon-Medium.woff);
}

@font-face {
    font-family: compagnon-reg;
    src: url(Compagnon-Roman.woff2);
}

@font-face {
    font-family: compagnon-it;
    src: url(Compagnon-Italic.woff2)
}

body {
   
    width: 40vw;
    line-height: 1.5em;
    
    font-family: compagnon-reg;
    font-size: 20px;
    height: auto;
}

.container {
    width: 40vw;
    height: auto;
}

.title {
    margin:auto;
    margin-left: 40%;
    margin-right: 60%;
    margin-top: 20%;
    text-align: center;
    width: 60vw;
    height: 90vh;
}

.blurb {
    width: 60vw;
    font-size: 40px;
    line-height: 1.5em;
}

h1 {
    font-family: compagnon-bold;
    font-size: 70px;
    line-height: 1.5em;
}

.questions {
    font-family: compagnon-med;
    font-size: 30px;
    line-height: 1.5em;
    height: 100vh;
    width: 60vw;
    margin-bottom: 50%;

    margin-left: 40%;
    margin-right: 60%;
}

.hint {
    font-family: compagnon-it;
    font-size: 20px;
    color: red;
    width: 40vw;
    line-height: 1.5em;
}
.question1 {
    height: 100vh;
}

.question2 {
    height: 100vh;
}

.question3 {
    height: 100vh;
}

.letter-container {
    font-family: compagnon-reg;
    font-size: 30px;
    line-height: 1.5em;

    height:100vh;
    width: 50vw;
    

    margin:auto;
}
.letter-box {

    border: 2px solid black;
    width: 60vw;
    height: 60vh;
}

#letter {
    padding-left: 2%;
}

/* #greeting {
    font-family: compagnon-bold;
}
#indentity-input {
    font-family: compagnon-med !important;
}

#adject {
    font-family: compagnon-bold;
}

#thanks-input {
    font-family: compagnon-bold;
}

#action {
    font-family: compagnon-bold;
}

#perk {
    font-family: compagnon-bold;
}

#cute-input {
    font-family: compagnon-bold;
} */

#button {
    font-family: compagnon-reg;
    font-size: 20px;
    background-color: white;
    width:10vw;
    height: 10vh;
}

#button:hover {
    font-family: compagnon-it;
    background-color: yellow;
}

input {
    font-family: compagnon-it;
    font-size: 20px;
    background-color: white;
    height: 3vh;
    width: 20vw;
}

#flower {
    position: absolute;
    width: 5%;
    height: auto;
    right: 90vw;

}

#about:visited {
    color: black;
    text-decoration: none ;

}

.about1 {
    margin: auto;
    padding: 30%;
    width: 40vw;
}
