@font-face {
    font-family: sprat-med;
    src: url(sprat-med.otf)
}

@font-face {
    font-family: compagnon-bold;
    src: url(compagnonbold.woff)
}

@font-face {
    font-family: compagnon-reg;
    src: url(Compagnon-Roman.woff2)
}

h1 {
    line-height: 1.5em;
    font-family: compagnon-bold;
}

body {
    font-family: compagnon-reg;
    width: 30vw;
    height: auto;
    margin: auto;
    line-height: 1.5em;
}



button {
    font-family: compagnon-reg;
    margin: auto;
    background-color: white;
}

button:hover {
    background-color: yellow;
}